{% from 'macros/icon.njk' import icon %}

<footer class="relative z-40 bg-zinc-800 text-center p-5 border-t-2 border-zinc-600">

  <span>© {% get_year %} David Matthew. This is an <strong>AI-Free</strong> website.</span>

  <div class="flex gap-2 justify-center mt-3">

    <a href="https://github.com/davidmatthew-ie" target="_blank">

      {{ icon('github-stroke-standard', 'w-6 min-w-6') }}

    </a>

    <a href="https://open.spotify.com/artist/2CVCluSD7hTfhhJCkm0C3x" target="_blank">

      {{ icon('spotify-stroke-standard', 'w-6 min-w-6') }}

    </a>

    <a href="https://www.goodreads.com/user/show/66129526-david-matthew" target="_blank">

      {{ icon('book-open-02-stroke-rounded', 'w-6 min-w-6') }}

    </a>

    <a href="https://www.linkedin.com/in/david-matthew/" target="_blank">

      {{ icon('linkedin-01-stroke-rounded', 'w-6 min-w-6') }}

    </a>

    <a href="https://www.instagram.com/davidmatthew_ie/" target="_blank">

      {{ icon('instagram-stroke-rounded', 'w-6 min-w-6') }}

    </a>

    <a href="https://bsky.app/profile/davidmatthew-ie.bsky.social" target="_blank">

      {{ icon('bluesky-stroke-standard', 'w-6 min-w-6') }}

    </a>

  </div>
  
</footer>
