<header id="top-bar" class="sticky top-0 left-0 z-20 w-full flex justify-between items-center p-5 bg-zinc-800 border-b-2 border-b-zinc-600 transition-all duration-500 md:px-10 lg:hidden">

  <a href="/" class="block w-16 h-16 p-4 border-2 border-teal-500 rounded-full z-10 hover:bg-zinc-700/30 transition-all duration-500">

    {% include '../img/dm-logo-2025.svg' %}

  </a>

  <div id="nav-toggle" class="w-10 transition duration-350 lg:hidden">

    <div class="h-1 bg-teal-500 mb-3 transition duration-350"></div>

    <div class="h-1 ml-3 bg-teal-700 mb-3 transition duration-350"></div>

    <div class="h-1 bg-teal-500 transition duration-350"></div>

  </div>

</header>

