{% from 'macros/icon.njk' import icon %}

<div class="relative hidden overflow-hidden h-screen xl:flex items-center -mt-20 animate-fade-in-right">

  <nav id="page-nav-xl" class="fixed no-scrollbar max-w-[40ch] flex flex-col justify-center"></nav>

</div>

<div id="page-nav" class="fixed top-0 right-0 w-3/4 px-6 h-screen z-30 bg-zinc-800/95 border-l-2 border-zinc-600 flex items-center justify-center transition duration-500 translate-x-full">

  <div id="nav-close" class="fixed top-8 right-5 flex cursor-pointer">

    {{ icon('cancel-01-solid-rounded', 'w-10 h-10') }}

  </div>

  <nav class="flex-col justify-center"></nav>

</div>

<div id="nav-open" class="fixed bottom-4 right-5 flex justify-center items-center w-16 h-16 rounded-full bg-zinc-800/90 border-2 border-zinc-600 animate-fade-in-right cursor-pointer transition active:bg-zinc-700 xl:hidden">

  {{ icon('sidebar-right-duotone-rounded', 'w-7 h-7') }}

</div>
