---
layout: layouts/body.html
---

<article class="overflow-hidden col-span-4 xl:col-span-3 xl:px-20">

  <h1 class="after:block after:mt-6 after:h-1.5 after:w-12 after:bg-purple-500 sm:after:h-2 sm:after:w-20 animate-fade-in-right">

    {{ title }}

  </h1>

  <div class="flex items-center mb-4 animate-fade-in-left" style="animation-delay: 100ms; animation-fill-mode: both;">

    <span class="inline-block w-6 h-6">

      {% include '../img/icons/calendar-03-duotone-rounded.svg' %}

    </span>

    <span class="ml-2 mr-3 text-zinc-400">

      Published {{ date | format_date }}

      {% if updated %} (Updated {{ updated | format_date }}) {% endif %}

    </span>

  </div>

  <div class="flex items-center animate-fade-in-left" style="animation-delay: 175ms; animation-fill-mode: both;">

    <span class="inline-block w-6 h-6">

      {% include '../img/icons/bookmark-01-duotone-rounded.svg' %}

    </span>

    <span class="ml-2 text-zinc-400">

      {% for tag in tags | filter_tags %}

        <a href="/tag/{{ tag | slugify }}">{{ tag }}{% if not loop.last %},{% endif %}</a>

      {% endfor %}

    </span>

  </div>

  <div class="animate-fade-in-up">

    {{ content | safe }}

  </div>

</article>

<div class="relative hidden overflow-hidden h-screen xl:flex items-center -mt-20 animate-fade-in-right">

  <nav id="page-nav" class="fixed no-scrollbar max-w-[40ch] flex flex-col justify-center"></nav>

</div>

<div class="fixed top-0 left-0 z-20 w-full h-1 lg:h-1.5">

  <div id="progress" class="w-0 h-full bg-gradient-to-r from-purple-500 to-teal-500"></div>

</div>
